.heading-top{
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    
}
#title-top{
  font-family: 'Roboto Condensed', sans-serif;
  color: grey;
}
.col{
  font-family: 'Roboto Condensed', sans-serif;
  color: grey;
  font-size: 25px;
}
.body-div{
  padding: auto;
  margin: 5%;
}
#nav-section{
    padding: 2%;
    padding-right: 2.5%;
}
    /* start of desktop styles */

    @media screen and (max-width: 991px) {
      /* start of large tablet styles */
      .poster {
        min-width: 70%;
      }
 }
 
 @media screen and (max-width: 767px) {
      /* start of medium tablet styles */
      /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
      .poster {
        min-width: 30%;
      }
 }
 
 @media screen and (max-width: 479px) {
      /* start of phone styles */
      /* It's possible to hide the image if the screen becomes too small */
      .poster {
        min-width: 10%;
      }
 }
#footer{
  position: fixed;
  left: 10%;
  bottom: 0;
  width: 75%;
  font-family: 'Roboto Condensed', sans-serif;
  color: grey;
  text-shadow: 1px 1px 1px whitesmoke;
  text-align: center;
}

.container-fluid{
  align-self: center;
}
.btn-secondary{
  padding:10px;
  box-sizing: content-box;
  margin: 4% 1.7%;
  min-width: 15%;
  text-align: center;
}
